/*1 color */
$primary: #001233;
$secondary: #001845;
$body: #979dac;
$white: #ffffff;

/*2 fix display-1 issue (not responsive)*/
@media (max-width:992px){
    .display-1{
        font-size: 4rem;
    }
}
@media (max-width:768px){
    .display-1{
        font-size: 3rem;
    }
}
@media (max-width:576px){
    .display-1{
        font-size: 2.5rem;
    }
}
@media (max-width:992px){
    .card-img{
        max-height: 400px;
    }
}

.bg-cover {
    background-size: cover !important;
}

header, footer{
    background-color: $primary;
}

body{
    background-color: lighten($body,20%);
}
.card{
    background-color: $secondary;
    color: $white;
}
.breadcrumb{
    background-color: $secondary;
}

footer{
    height: 200px;
    color: $white;
}